body {
    margin: 0;
    color: #333333;
}

input:focus {
    outline: none;
}

.cp {
    cursor: pointer;
}

.required {
    color: #FA5252;
}

/*.s-bg-red {*/
/*    !*background-color: #FF6464;*!*/
/*    !*background-color: #FF3232;*!*/
/*    background-color: rgb(255, 107, 107);*/
/*}*/
/* 테이블 */
.table__zero-result__msg {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #333333;
    font-size: 14px;
    font-weight: 300;
    min-height: 120px;
}

.detail_filter_btn {
    text-align: right;
}

.detail_filter_btn span div {
    position: relative;
    top: 5px;
    transform: rotate(270deg);
    filter: invert(21%) sepia(68%) saturate(2788%) hue-rotate(200deg) brightness(65%) contrast(104%);
}

td {
    font-size: 14px;
}

/* bg color*/
.bg_fff {
    background-color: #FFFFFF;
}

.bg-white {
    background-color: #fff !important;
}


/* font color*/
.ft_blue {
    color: #0150AD;
}

.ft_777 {
    color: #777777;
}

.ft_999 {
    color: #999999;
}


/* com */
.edge {
    margin: 0 8px;
}

.filter_label {
    white-space: nowrap;
    min-width: 92px;
}

.filter_form {
    font-size: 14px;
    min-height: 42px;
    line-height: 42px;
    background-color: #F5F5F5;
    padding: 0 15px;

}

.row_border_bottom {
    border-bottom: 2px solid #dddddd;
}

.row {
    display: flex;
    flex-direction: row !important;
}

.title {
    background: #F5F5F5;
    min-width: 122px;
    min-height: 100%;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.textarea_box {
    width: 90%;
    height: 100%;
    padding: 5px 8px;
    box-sizing: border-box;
}

.textarea {
    width: 100%;
    min-height: 84px;
    border: 1px solid #DDDDDD;
    resize: none;
    padding: 0 !important;
}

.table_border {
    border-top: 1px solid #333;
}

/* text-aline*/
.left_align {
    text-align: left;
}

.center_align {
    text-align: center;
}

.right_align {
    text-align: right;
}

/* 말줄임 사용시 반드시 width 값이 필요합니다. */
/* 1줄 말줄임*/
.one_text_ellipsis {
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* 2줄 말줄임 */
.text_ellipsis {
    overflow: hidden;
    white-space: normal;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: keep-all;
}

/* 버튼 width */

.btn_44 {
    width: 44px !important;
}

.btn_58 {
    width: 58px !important;

}

.btn_68 {
    width: 68px !important;
}

.btn_70 {
    width: 70px !important;
}

.btn_84 {
    width: 84px !important;
}

.btn_102 {
    width: 102px !important;
}

.btn_112 {
    width: 112px !important;
}

.mes_input_form {
    justify-content: center;
}

td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /*width: 350px !important;*/
    min-height: 35px !important;
    box-sizing: border-box;
}

th {
    white-space: nowrap;
}

.nowrap {
    white-space: nowrap;
}

/* 체크박스 border radius 0 */
.border-radius__zero > .checkbox {
    border-radius: 0 !important;
}

.relative {
    position: relative;
}

.tab__wrap {
    border-bottom: 1px solid #d5d5d5;
    margin-top: 40px;
    position: absolute;
    left: 0;
    padding: 0 210px;
    width: 100%;
    box-sizing: border-box;
    background: #ffffff;
}

pre {
    margin: 0;
}
