.fold__title {
    font-size: 15px;
    margin-top: 10px;
}
.fold__hours {
    color: var(--gray);
    font-size: 14px;
    margin: 4px 0;
}
.fold__contents {

    padding: 8px;
    word-wrap: break-word !important;
    white-space: pre-line;
    font-size: 15px;
}
.fold__url {
    font-size: 12px;
    margin-top: 4px;
    color: var(--main-bg-color);
    text-decoration: underline;
    margin-bottom: 4px;
}