.main__wrap {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 68px 20px;
}

@media (max-width: 480px) {
  .main__mobile_recommended__wrap {
    display: none;
  }
}
@media (max-height: 720px) {
  .main__mobile_recommended__wrap {
    display: none;
  }
}
